.header-style{
  height: 60px;
  position: fixed;
}

.signForm-style{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  opacity: 0;
  transition: opacity 600ms;
  pointer-events: none;
}

.signForm_active{
  opacity: 1;
  transition: 600ms;
  pointer-events: all;
}